.go-cent{
  width: 250px !important;
  margin: 30px 0 0 0;
  height: 50px;
}

.prefs{
  margin: 2rem 0 0 0 !important;
  margin-bottom: 3rem !important;
}

.txt_in{
  width: 15rem !important;
}

.next-scn{
  text-align: center;
  margin: 30px 0 0 0;
  font-size: 20px;
}

.jumbotron{
  max-height: 12rem !important;
}
